<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fileupload</title>
</head>
<body>
<form action="/presupload" method="POST" enctype="multipart/form-data" >

    <h4>Upload the prescription image here.</h4>
    <input type="file" name="prescription" accept="image/jpg,image/png">
    <button type="submit" style="display: block; margin-top:0.5rem;">Upload</button>
</form>
   
</body>
</html> -->